#logo {
    max-height: 60px;
    padding-right: 100px;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.menuItem {
    padding-left: 20px;
    text-transform: uppercase;
    
}

.menuItemLink {
    font-size: 16px;
    text-decoration: none;
    color: #222222;
}

.menuItemLink:hover {
    color: #ef2b2e;
}

.menuItemLink:active {
    color: #ef2b2e;
}

.menuItem:last-of-type {
    padding-right: 10px;
}